:root {
    --background: #0F172A;
    --surface: #1E293B;
    --primary: #3B82F6;
    --text: #F8FAFC;
    --text-secondary: #94A3B8;
    --border: rgba(255,255,255,.08);
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:var(--background);
    color: var(--text);
}